<h1> Welcome to our game </h1>
<h2><%= @my_grid.join(' ')  %></h2>

<form action="score">
  <label for="question">Réponse</label>
  <input type="text" id="question" name="query" placeholder="Lets play dude!">
  <input type="submit" value="Play!">
</form>