
<h1><%= @my_grid.join(' ')  %></h1>

<form action="score">
  <label for="question">Réponse</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>